.bodyp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 97vh;
    padding-top: 15px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #62f4b7;
    
}

.topopesq{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 130px
}

.voltar{
    margin-left: 30px;
    margin-right: -40px;
}

.fotobus{ 
    margin-left: 48%;
}

.sombra{
    background-color: #05e185;
    width: 100%;
    height: 15px;
    color: #05e185;
}

.barra{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 25px;
}

.barradepesquisa{
    display: flex;
    flex-direction: row;
    flex: 2;
    margin: 20px;
    background-color: #cdfdf7;
    width: 200px;
    border-radius: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.barradepesquisa input{
    border-color: transparent;
    border-bottom-color: #05e185;
    background-color: #cdfdf7;
    color: #05e185;
    font-size: 18px;
}

.menuinferior1{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 96%;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
    margin-top: -7px;
}

.bodyp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.barradepesquisa2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 60px;
    background-color: #62f4b7;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -90vh;
    color:white
}

.pesq2{
    border-color: transparent;
    border-bottom-color: white;
    font-size: 20px;
    font-style: italic;
    background-color: transparent;
    width: 85%;
    color: white;
}

.pesq2::placeholder{
    color: white;
}

.menuinferior2{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: 70vh;
    margin-bottom: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 25px;
}